    @font-face 
        {   
            font-family: 'typeface';
            src: url('src/typeface/typeface.ttf') 
            format('truetype');
        }
    body
        {
            font-family: 'typeface', serif; 
            color:#FCFCFC;
            font-size: 150%;
        } 
    a
        {
            color:#65C5F1;
        } 
    h1
        {
            color:#fff45f;
        } 
    h2
        {
            color:#fff45f;
            display: inline;
        }
    summary
        {
            display: inline
        }
    input
        {
            background-color: #3D3838; 
            color:#FCFCFC; 
            font-family: 'facetype';
        }
    .CUTSCENES
        { 
            width: 40%;
            height: auto; 
            display: inline;
            margin: 0px 10px;   
        }
    .Mingxiao
        {
            width:100%;
            display: block; 
            margin: 0 auto;
        }
    #2videos
        {
            width: 40%;
            margin: 10px 10px;
        }


