    @font-face 
        {   
            font-family: 'typeface';
            src: url('src/typeface/typeface.ttf') 
            format('truetype');
        }
    body
        {
            font-family: 'typeface', serif; 
            color:#FCFCFC;
            font-size: 200%;
            background-color:#1D1B1B;
        }    
    a
        {
            color:#65C5F1;
        } 
    h1
        {
            color:#fff45f;
            text-shadow: 6px 5px #967705;
        } 
    h2
        {
            color:#fff45f;
            display: inline;
            text-shadow: 6px 5px #967705;
        }
    summary
        {
            color:#fff45f;
            display: inline;
        }
    input
        {
            background-color: #3D3838; 
            color:#FCFCFC; 
            font-family: 'facetype';
        }
    .CUTSCENES
        { 
            width: 50%;
            display: inline;
            margin: 0px 10px;   
        }
    .Mingxiao
        {
            width:100%;
            display: block; 
            margin: 0 auto;
        }
    #videos2
        {
            width: 40%;
            display: inline-block;
            margin: 0px 10px;
        }
     table
        {
            width: 100%; 
            height: auto;
            font-size: 75%
        }
     input
        {
            width: 35%;
            height: 2%;
            font-size: 50%;
            font-family: 'typeface'
        }
       textarea
       {
           width:70%;
           height:12.5%;
           background-color: #3D3838;
           font-size: 50%;
           font-family: 'typeface';
           color: #FCFCFC;
       }
     #bug
      {
          width:55%;
          font-size: 43%;
          height:auto;
      }
      #Capa
        {
            width: 80%; 
            display:block; 
            margin:auto auto;
        }
        table
        {
            border-spacing: 0;
            border-color: #FCFCFC;
        }
        #menu
              {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  text-justify: center;
                  background-color: gray;
                  world-spacing: 20px;
                  height: 75px;
                  margin: 0 0;
                  a{
                      color: white;
                      text-decoration-line: none;
                   }
                  #baixar
                  {
                   display: flex;
                   justify-content: center;
                   text-align: center;   
                   background-color:#fff45f;
                   border: 5px double #fff45f;
                      border-radius: 4px;
                      margin: 2% 5%;
                      a{
                      color: #362902;
                      text-decoration-line: none;
                      font-size:150%;   
                   }
                  }
            #wiki
                  {
                      margin: 2% 5%;
                      font-size: 150%;
                  }
              }
          