    @font-face 
        {   
            font-family: 'typeface';
            src: url('src/typeface/typeface.ttf') 
            format('truetype');
        }
    body
        {
            font-family: 'typeface', serif; 
            color:#FCFCFC;
            font-size: 200%;
        } 
    a
        {
            color:#65C5F1;
        } 
    h1
        {
            color:#fff45f;
            text-shadow: 6px 5px #967705;
        } 
    h2
        {
            color:#fff45f;
            display: inline;
            text-shadow: 6px 5px #967705;
        }
    summary
        {
            color:#fff45f;
            display: inline;
        }
    input
        {
            background-color: #3D3838; 
            color:#FCFCFC; 
            font-family: 'facetype';
        }
    .CUTSCENES
        { 
            width: auto;
            height: 25%; 
            display: inline;
            margin: 0px 10px;   
        }
    .Mingxiao
        {
            width:100%;
            display: block; 
            margin: 0 auto;
        }
    #2videos
        {
            width: 40%;
            margin: 10px 10px;
        }
     table
        {
            width: 100%; 
            height: auto;
            font-size: 75%
        }
     input
        {
            width: 35%;
            height: 2%;
            font-size: 50%;
            font-family: 'typeface'
        }
       textarea
       {
           width:70%;
           height:12.5%;
           background-color: #3D3838;
           font-size: 50%;
           font-family: 'typeface';
           color: #FCFCFC;
       }
     #bug
      {
          width:55%;
          font-size: 43%;
          height:auto;
      }
      #Capa
        {
            width: 80%; 
            display:block; 
            margin:auto auto;
        }
        table
        {
            border-spacing: 0;
            border-color: #FCFCFC;
        }